@use 'styles/variables' as *;

.about-me-flex {
  align-self: center;
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  width: 100%;
  padding: 2rem 0;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
  }
}

.about-me-left {
  .about-me-header {
    margin-bottom: 5rem;
    text-justify-trim: inter-word;

    @media (max-width: 600px) {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    h2 {
      font-size: 2.6rem;
      font-weight: 700;
      color: $primary-dark;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1.45rem;
      font-weight: 400;
      color: $text-color;
    }
  }
}

.about-me-right {
}

.carousel-staggered-grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 3rem;
  width: 100%;
}

.carousel-row {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.first-row {
  justify-content: space-between;
}

.second-row {
  justify-content: center;
}

.carousel-spacer {
  flex: 1;
}

.carousel-group {
  width: 220px;
  text-align: center;

  h3 {
    margin-bottom: 0.5rem;
    color: $text-highlight;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
}

.logo-carousel {
  width: 220px;
  height: 120px;
  margin: 0 auto;
  overflow: hidden;

  .carousel-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;

    .logo-img {
      max-width: 210px;
      height: 80px;
      margin-bottom: 0.5rem;
    }
  }
}

@media (max-width: 600px) {
  .about-me-flex {
    gap: 1rem;
    padding: 0;
    margin-bottom: 4rem;
  }

  .about-me-left .about-me-header h2 {
    font-size: 1.3rem;
  }

  .about-me-left .about-me-header p {
    font-size: 0.9rem;
    text-justify: auto;
  }

  .carousel-staggered-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .carousel-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 auto;
  }

  .carousel-group {
    width: auto;
    height: 100px;
    text-align: center;

    h3 {
      font-size: 0.6rem;
    }
  }

  .logo-carousel {
    width: auto;
    max-width: 80px;
    height: 80px;

    .carousel-item .logo-img {
      width: auto;
      max-width: 80px;
      height: 50px;
    }
  }
}
