<div class="container">
    <div class="content">
        <div class="intro-text">
            <h1>
                Hey, I'm <span class="name">Francisco Henriques</span>
            </h1>

            <h2 class="typewriter">
                <span>A Passionate </span>
                <om-typewriter class="highlight" [words]="typewriterTitles"></om-typewriter>
            </h2>

            <p class="subtitle">
                “Driven by crafting engaging frontends, tackling backend complexities and mastering CI/CD pipelines.”
            </p>

            <!-- Social Links -->
            <div class="social-icons">
                <a href="https://linkedin.com/in/franciscojosehenriques" target="_blank" rel="noopener noreferrer">
                    <nz-icon nzType="linkedin" nzTheme="fill"></nz-icon>
                </a>
                <a href="https://github.com/fh0312" target="_blank" rel="noopener noreferrer">
                    <nz-icon nzType="github" nzTheme="outline"></nz-icon>
                </a>
                <a href="assets/docs/cv/fhenriques.pdf" target="_blank" rel="noopener noreferrer">
                    <nz-icon nzType="profile" nzTheme="outline"></nz-icon>
                </a>
            </div>
        </div>
        <app-profile-picture></app-profile-picture>
    </div>
    <app-achievements-card></app-achievements-card>
</div>

