/* You can add global styles to this file, and also import other style files */
:root {
  --header-height: 10vh;
  --footer-height: 10vh;
}

body {
  background-image: url('assets/wallpaper-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  background-color: #100f0f;
  position: relative; /* Ensures the content is positioned correctly */
  margin:0;
  padding:0;
  top:0;
}

