.profile-pic {
  width: 50vw;
  height: 50vw;
  max-height: 50em;
  max-width: 50em;
  margin: 0 auto;
  display: block;
}

@media (max-width: 600px) {
  .profile-pic {
    width: 40vw;
    height: 40vw;
  }
}

@media (max-width: 2200px) {
  .profile-pic {
    width: 30vw;
    height: 30vw;
  }
}
