.profile-pic {
  width: 350px;
  height: 350px;
  max-height: 350px;
  max-width: 350px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 600px) {
  .profile-pic {
    width: 30vw;
    height: 30vw;
  }
}

@media (max-width: 2200px) {
  .profile-pic {
    width: 20vw;
    height: 20vw;
  }
}
