/* General styles for the welcome title */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.welcome-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: left;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.hi {
  margin: 0 0 0 0;
}

.name {
  margin-top: 0.5em;
  max-font-size: 10pt;
}

.francisco{
  color: #ff8001;
}

.role {
  margin:0;
  color: #ffffff;
}

.contact-me {
  margin-top: 2em;
  background: #ff8001;
  color: #191919;
  font-weight: 800;
  font-size: 2em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

@media (max-width: 600px) {
  .hi {
    margin-top: 1em;
    font-size: 7vw;
  }
  .name {
    margin-top: 0;
    font-size: 5vw;
  }
  .role {
    font-size: 4vw;
  }
}

@media (min-width: 600px) {
  .hi {
    font-size: 3vw;
  }

  .name {
    font-size: 3vw;
  }

  .role {
    font-size: 3vw;
  }
}

